<h2 id="primary-nav-label" class="visuallyhidden"><%= t('navigation.heading') %></h2>
<nav role="navigation" aria-labelledby="primary-nav-label" class="primary-nav">
  <ul>
    <%= navigation_list %>
  </ul>
</nav>
