<div class="quick-actions">
  <h2 class="heading-small"><%= t('quick_actions.heading') %></h2>
  <ul>
    <li><%= link_to_quick_actions_preview %></li>
  </ul>
  <ul>
    <li><%= link_to_quick_actions_find_prisoner %></li>
  </ul>
</div>
