<header class="first-page">
  <div class="section-heading">
    <h1><%= t('pdfs.header.title') %></h1>
    <div class="heading">
      <h2><%= t('pdfs.header.heading') %></h2>
    </div>
    <div class="vehicle_reg">
      <span class="label"><%= t('pdfs.header.vehicle_registration') %></span>
      <div class="input"></div>
    </div>
    <div class="cell_no">
      <span class="label"><%= t('pdfs.header.vehicle_cell_number') %></span>
      <div class="input"></div>
    </div>
  </div>
</header>
