<div class="healthcare-updates">
  <table class="bordered-table">
    <tr>
      <th><%= t('pdfs.healthcare_updates.completed_by') %></th>
      <th><%= t('pdfs.healthcare_updates.phone_number') %></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div class="updates">
    <strong><%= t('pdfs.healthcare_updates.updates') %></strong>
    <div><%= t('pdfs.healthcare_updates.update_instructions') %></div>
    <div class="input"></div>
  </div>
</div>
