<div class="not-for-release">
  <div>
    <div class="marker"><div class="check-box"></div><strong class="label-inline"><%= t('pdfs.nfr.marker_label') %></strong></div>
    <div class="reason"><strong class="label-inline"><%= t('pdfs.nfr.reason') %></strong><div class="input-inline"></div></div>
  </div>
</div>
