<div class="updates">
  <strong class="label">
    <%= t('pdfs.updates.title') %>
  </strong>
  <span class="instructions"><%= t('pdfs.updates.instructions') %></span>
  <div class="sash-container">
    <span class="instructions"><%= t('pdfs.updates.sash_instructions') %></span>
    <div class="sash-field"></div>
  </div>
  <div class="updates-field">
  </div>
</div>
