<h2><%= t('.heading') %></h2>
<p><%=  t('.no_results', prison_number: form.prison_number) %></p>
<%=
  button_to(t('.initiate_new_per'),
    {
      controller: :escorts,
      action: :create,
      prison_number: form.prison_number
    },
    class: 'button'
  )
%>
