<div class="quick-actions">
  <h2 class="heading-small"><%= t('quick_actions.heading') %></h2>
  <ul>
    <li><%= link_to(t('quick_actions.preview'), pdf_path(escort)) %></li>
  </ul>
  <ul>
    <li><%= link_to(t('quick_actions.find_prisoner'), root_path) %></li>
  </ul>
</div>
