<div class="grid-row">
  <div class="column-one-quarter">
    <%= render('shared/navigation') %>
    <%= render('shared/quick_actions') %>
  </div>
  <div class="column-three-quarters">
    <header>
      <h1><%= t("escorts.#{form.name}.heading") %></h1>
    </header>
    <%=
      render(
        'escorts/summary/prisoner_information',
        prisoner_information: @summary.prisoner_information
      )
    %>
  </div>
</div>
