.handover-details {

  .fit-to-travel {
    @extend .light-background;
    @extend .padded;
    .fitting {
      @extend .row;
      margin-bottom: 0;
    }
  }

  .professional-name {
    @extend .row;
    margin-bottom: 0;
    > div {
      @extend .col;
      margin-left: 4em;
    }
    .input {
      @extend .input-inline;
      width: 27.65em;
    }
    .label {
      @extend .label-inline;
    }
  }

  .signature {
    @extend .col;
    margin-left: 4em;
    .input {
      @extend .input-inline;
      width: 16em;
    }
    .label {
      @extend .label-inline;
    }
  }

  .role {
    @extend .col;
    .input {
      @extend .input-inline;
      width: 21.2em;
    }
    .label {
      @extend .label-inline;
    }
  }

  .markers > div {
    @extend .col;
    @extend .light-background;
    padding: $padding-small;
    padding-left: $padding-unit;
    margin-right: $margin-right;
    margin-bottom: $margin-unit;
  }
  .label-inline, .check-box {
    margin-bottom: 0;
  }

  .medication-handover {
    .heading {
      @extend .styled-as-heading;
      font-weight: $font-weight-bold;
    }
    > div {
      @extend .row;
    }
    margin-top: $margin-top;
    .markers > div {
      @extend .emphasis-checkbox;
    }
    .label-inline, .check-box {
      margin-bottom: 0;
    }
  }

  .medication-administration {
    margin-top: (-$margin-small);
    table {
      @extend .bordered-table;
      margin-bottom: $margin-bottom;
      .hidden-borders {
        border-top-color: transparent;
        border-left-color: transparent;
      }
      th {
        font-weight: $font-weight-bold;
      }
      .carried-by {
        font-weight: $font-weight-standard;
      }
      .narrow {
        width: 10%;
        text-align: center;
      }
      .check-box {
        margin-left: 32%;
        margin-bottom: $margin-small;
      }
    }
  }

  .enclosed-forms {
    padding-top: $padding;
    .heading {
      @extend .styled-as-heading;
      font-weight: $font-weight-bold;
    }
  }

}

.clock-image {
  height: 1.7em;
  margin-top: -$margin-small;
}
