.handover-details {

  .fit-to-travel {
    @extend .light-background;
    @extend .padded;
    .fitting {
      @extend .row;
      margin-bottom: 0;
    }
  }

  .professional-name {
    @extend .row;
    margin-bottom: 0;
    > div {
      @extend .col;
      margin-left: 4em;
    }
    .input {
      @extend .input-inline;
      width: 27.65em;
    }
    .label {
      @extend .label-inline;
    }
  }

  .signature {
    @extend .col;
    margin-left: 4em;
    .input {
      @extend .input-inline;
      width: 16em;
    }
    .label {
      @extend .label-inline;
    }
  }

  .role {
    @extend .col;
    .input {
      @extend .input-inline;
      width: 21.2em;
    }
    .label {
      @extend .label-inline;
    }
  }

  .return-information {
    @extend .marker-with-reason;
    .marker {
      width: 19.5%;
    }
    .reason > .input {
      width: 33.25em;
    }
  }

  .medication-handover {
    > div {
      @extend .row;
    }
    margin-top: $margin-top;
    .markers > div {
      @extend .col;
      @extend .light-background;
      padding: $padding-small;
      padding-left: $padding-unit;
      margin-right: $margin-right;
    }
    .label-inline, .check-box {
      margin-bottom: 0;
    }
  }
}