.health-section {
  strong {
    min-height: 1.5em;
    display: inline-block;
    padding-right: $padding-unit;
  }
  .content {
    @extend .input;
    @extend .padded;
    padding-bottom: $padding-unit;
    padding-right: $padding-unit;
    min-height: 3.5em;
    margin-bottom: $margin-bottom;
  }
}

.disabilities {
  .mpv-required {
    display: inline-block;
    margin-bottom: -$margin-unit;
    margin-left: $margin-unit;
    > div {
      &:first-child {
        margin-bottom: 0;
      }
      &:last-child {
        @extend .label-inline;
        margin-bottom: 0;
      }
    }
  }
}

.healthcare-updates {
  @extend .light-background;
  @extend .padded;
  padding-bottom: $padding-unit;
  margin-bottom: $margin-bottom;
  .updates {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    strong {
      display: inline-block;
      min-height: 1.7em;
    }
    .input {
      margin-top: $margin-unit;
      min-height: 3.5em;
    }
  }
}
