.move-information {
  @extend .row;
  > div {
    @extend .col;
    padding-left: $padding;
    display: inline-block;
  }

  .date-of-travel {
    @extend .dates;
    width: 20%;
  }

  .from, .to, .destination-update {
    .input {
      width: 11.74em;
    }
  }
}
