.move-information {
  @extend .row;
  > div {
    @extend .col;
    margin-right: $margin-unit;
    display: inline-block;
  }

  .to, .destination-update {
    width: 31%;
  }

  .from, .date-of-travel, .reason-for-move, .case-number {
    width: 23%;
  }

  .destination-update {
    .input {
      width: 22.5em;
    }
  }
}
