.offences {
  .return-information {
    @extend .marker-with-reason;
    .marker {
      width: 19.5%;
    }
    .reason > .input {
      width: 33.25em;
    }
  }

  ul {
    @extend .bordered-left;
    list-style: none;
    margin-bottom: $margin-bottom;
    li {
      padding: 0.5em 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .offences-output {
    @extend .input;
    min-height: $input-tall-height;
  }

  .current-offences {
    table {
      @extend .bordered-table;
      tr, td {
        padding-top: 0;
        padding-bottom: 0;
      }
      th {
        font-weight: $font-weight-bold;
      }
    }
    .narrow {
      width: 10%;
      text-align: center;
    }
    .check-box {
      position: relative;
      top: 0.4em;
      left: 1.3em;
    }
  }
}
