.prisoner-information {
  @extend .padded;
  @extend .light-background;
  margin-top: $margin-top;

  > div {
    @extend .row;
  }

  .information {
    @extend .col;
    width: 70.1%;
  }

  .names {
    @extend .row;
    > div {
      @extend .col;
    }
    .family-name {
      width: 52%;
      @extend .input-margin;
    }
    .forenames {
      width: 42%;
    }
  }

  .image-placeholder {
    @extend .col;
    @extend .dark-border;
    background-color: $white;
    width: 12em;
    padding: 6.7em 1em;
    text-align: center;
  }

  .label {
    display: block;
    margin-bottom: 0.5em;
  }

  .secondary {
    @extend .row;
  }

  .dates {
    @extend .col;
    width: 33%;
    .input {
      @extend .col;
      @extend .input-margin;
      margin-right: 0;
      &:last-child {
        width: 4em;
      }
    }
  }

  .age {
    margin-right: 0.3em;
    width: 10%;
    @extend .input-margin;
    @extend .col;
    .input {
      width: $input-min-width;
    }
  }

  .sex {
    margin-right: 0.5em;
    width: 10%;
    @extend .input-margin;
    @extend .col;
    .input {
      width: $input-min-width;
    }
  }

  .nationality {
    width: 41.6%;
    @extend .input-margin;
    @extend .col;
  }

  .identification-numbers {
    @extend .row;

    > div {
      @extend .input-margin;
      @extend .col;
    }
    .prison-number {
      width: 30%;
    }
    .pnc-number {
      width: 30%
    }
    .cro-number {
      width: 30%
    }

  }
}
