.prisoner-information {
  margin-top: $margin-top;

  > div {
    @extend .row;
  }

  .information {
    @extend .col;
    width: 73%;
    border-bottom: 1px solid $dark_grey;
    margin-right: $margin-unit;
  }

  .names {
    @extend .row;
    > div {
      @extend .light-background;
      @extend .cover-sheet-emphasis;
      padding: $padding-small;
      display: inline-block;
      text-transform: uppercase;
    }
    .family-name {
      width: 52%;
      @extend .input-margin;
    }
    .forenames {
      width: 43%;
    }
  }

  .image-placeholder {
    @extend .col;
    border: $border-black;
    background-color: $white;
    width: 11.5em;
    padding: 5.97em 1em;
    text-align: center;
  }

  .secondary {
    @extend .row;
  }

  .age {
    margin-right: 0.3em;
    width: 15%;
    @extend .input-margin;
    @extend .col;
    > div {
      font-weight: $font-weight-standard;
    }
  }

  .sex {
    margin-right: 0.5em;
    width: 16%;
    @extend .input-margin;
    @extend .col;
    > div {
      font-weight: $font-weight-standard;
    }
  }

  .nationality {
    width: 31.6%;
    @extend .input-margin;
    @extend .col;
    > div {
      @extend .cover-sheet-emphasis;
      text-transform: uppercase;
    }
  }

  .identification-numbers {
    @extend .row;
    > div {
      @extend .input-margin;
      @extend .col;
    }
    .prison-number {
      width: 30%;
    }
    .pnc-number {
      width: 30%
    }
    .cro-number {
      width: 32%;
    }
  }

}
