.record-of-handover {
  ul {
    @extend .bordered-left;
  }
  li {
    display: inline-block;
    margin-right: $margin-large;
  }

  .seal-numbers {
    > div {
      width: 49.75%;
      float: left;
      &:first-child {
        td, th {
          border-color: darken($dark_grey, 20%);
        }
      }
      &:last-child {
        margin-left: 0.5%;
      }
    }
    table {
      @extend .bordered-table;
      margin-bottom: $margin-bottom;
    }
    img {
      position: relative;
      top: 3px;
    }
  }

  .property-details {
    .heading {
      @extend .styled-as-heading;
      font-weight: $font-weight-bold;
    }
    ul {
      margin-bottom: $margin-unit;
      margin-top: 0;
    }
    li {
      margin-top: $margin-extra-small;
      margin-bottom: $margin-extra-small;
    }
  }

  .property-checkboxes {
    @extend .row;
    padding-bottom: 0;
    margin-bottom: $margin-unit;
    > div {
      @extend .emphasis-checkbox;
    }
  }

  .handover-details {
    display: table;
    width: 100%;
    > div {
      display: table-row;
      &:first-child {
        > div {
          border-left-color: transparent;
          border-bottom: 1px solid $dark_grey;
        }
      }
      &:nth-child(2n+3) {
        background-color: $light_grey;
      }
    }
    > div > div {
      display: table-cell;
      padding: $padding-unit;
      width: 20%;
      &:nth-child(1) {
        vertical-align: middle;
        width: 12%;
      }
      &:nth-child(3) {
        vertical-align: middle;
        width: 12%;
      }
      &:nth-child(1n+ 2) {
        border-left: 1px solid $dark_grey;
      }
    }
  }

  .time-input {
    margin-top: $margin-top;
    > div {
      &:first-child {
        @extend .label-inline;
        padding-left: 0;
      }
      &:last-child {
        @extend .input-inline;
        min-width: 3em;
      }
    }
  }

  .handover {
    .heading {
      @extend .styled-as-heading;
      font-weight: bold;
    }

    p {
      @extend .bordered-left;
    }

    table {
      @extend .bordered-table;

      img {
        position: relative;
        top: 3px;
      }

      .no-border {
        border: 0 !important;
      }

      .no-border-left {
        border-left-color: transparent;
      }

      .no-border-top {
        border-top-color: transparent;
      }

      .no-border-bottom {
        border-bottom-color: transparent;
      }

      .strong-border-bottom {
        &td {
          border-bottom-width: 2px;
        }
        > td {
          border-bottom-width: 2px;
        }
      }

      td.strong-border-bottom {
        border-bottom-width: 2px;
      }

      .strong-border-right {
        border-right-width: 2px;
      }

      .narrow {
        width: 6%;
      }
    }
  }
}