.risk-summary {
  .section-heading {
    margin-bottom: $margin-large;
  }
}

.risk {
  @extend .no-break;
  @extend .bordered-table;
  margin-top: 0;
  margin-bottom: $margin-unit;
  th {
    border: none;
    padding: 0;
    &:first-child {
      font-weight: bold;
      padding-left: 0;
    }
    &:last-child {
      width: 17%;
      text-align: center;
    }
  }
  td {
    span {
      display: inline-block;
      min-height: 4.5em;
    }
  }
}

.completed-by {
  @extend .light-background;
  @extend .padded;
  @extend .no-break;
  margin-top: $margin-large;
  > div {
    @extend .row;
    div {
      @extend .col;
      &:first-child {
        @extend .label-inline;
        min-width: 40%;
        text-align: right;
      }
      &:last-child {
        @extend .input-inline;
        float: right;
        min-width: 55%;
      }
    }
  }
}
