.updates {
  @extend .row;
  .updates-field {
    @extend .no-break;
    @extend .input;
    min-height: 6.5em;
    margin-top: $margin-unit;
  }
  .sash-container {
    float: right;
    width: 30.5%;
    .sash-field {
      @extend .check-box;
      margin-right: $margin-unit;
      margin-top: -$margin-small;
    }
  }
}