<div class="healthcare-updates">
  <table class="bordered-table">
    <tr>
      <th><%= t('.completed_by') %></th>
      <th><%= t('.phone_number') %></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div class="updates">
    <strong><%= t('.updates') %></strong>
    <div><%= t('.update_instructions') %></div>
    <div class="input"></div>
  </div>
</div>