<div class="medication">
  <strong class="label"><%= t('.title') %></strong>
  <div class="instructions"><%= t('.instructions') %></div>
  <table class="bordered-table">
    <tr>
      <th><%= t('.description') %></th>
      <th><%= t('.administration_information') %></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>