<span class="label"><%= t('pdfs.record_of_handover.name_label') %></span>
<div class="input"></div>
<span class="label"><%= t('pdfs.record_of_handover.signature_label') %></span>
<div class="input"></div>