<div class="not-for-release">
  <div>
    <div class="marker">
      <div class="check-box <%= not_for_release.not_for_release_class %>"></div>
      <strong class="label-inline"><%= t('pdfs.nfr.marker_label') %></strong>
    </div>
    <div class="reason">
      <strong class="label-inline"><%= t('pdfs.nfr.reason') %></strong>
      <div class="input-inline"><%= not_for_release.not_for_release_details %></div>
    </div>
  </div>
</div>
