<div class="updates">
  <strong class="label">
    <%= t('.title') %>
  </strong>
  <span class="instructions"><%= t('.instructions') %></span>
  <div class="updates_field">
    <div class="sash_field"></div>
    <span class="instructions"><%= t('.sash_instructions') %></span>
  </div>
</div>
