.styled-as-link {
  font-size: 0.8em;
  color: $govuk-blue;
  text-decoration: underline;
}

.hidden-but-accessible {
  @include visually-hidden();
}

.inner-row {

  .inner-col-one-third {
    @media screen and (min-width: $break-large) {
      width: 30%;
      margin-right: 1%;
      display: inline-block;
    }
  }

  .inner-col-two-thirds {
    @media screen and (min-width: $break-large) {
      width: 60%;
      margin-right: 1%;
      display: inline-block;
    }
  }

  .inner-col-half {
    @media screen and (min-width: $break-large) {
      width: 48%;
      margin-right: 1%;
      display: inline-block;
    }
  }
}

.only-visible-at-smaller {
  @media screen and (min-width: $break-large) {
    @include visually-hidden();
  }
}

.only-visible-at-larger {
  @media screen and (max-width: $break-large) {
    @include visually-hidden();
  }
}