.multiples-container {
  word-wrap: break-word;

  .item {
    margin-bottom: 1em;
    position: relative;
  }

  .item-heading {
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
  }

  input[type="text"] {
    @extend .form-control;
    margin-right: 0.5em;
    margin-top: 0.4em;
    border-width: 1px;
    border-color: $grey-2;
    width: 100%;
  }

  select {
    @extend .form-control;
    border: 1px solid $grey-2;
    width: 100%;
  }

  .destroy {
    .js-enabled & {
      @extend .hidden-but-accessible;
    }
  }

  .destroy:focus + label {
    outline: 3px solid orange;
  }

  .remove-link {
    @extend .styled-as-link;
  }

  .add-another {
    @extend .styled-as-link;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}