.search-wrapper {
  .button {
    padding: 0.4em 0.6em 0.25em 0.6em;
    .error & {
      padding: 0.5em 0.5em 0.35em 0.5em;
    }
  }
}

.result {
  text-align: left;
  min-width: 100%;
  border-collapse: collapse;
  tr > * {
    padding: 0.5em 0;
  }
  th {
    border-bottom: 1px solid $grey-2;
    text-align: left;
  }
}
