@import "shared_ie/global";
@import "shared_ie/grid";
@import "shared_ie/forms";
@import "mixins";

.search-wrapper {
  .button {
    padding: 2px 1px 2px 0;
    .error & {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

label, button {
  cursor: pointer;
}

th, td {
  padding-right: 1em!important;
}

.button_to {
  .button {
    width: 9em;
  }
}

.grid-row {
  .column-one-quarter {
    ul {
      margin: 0;
    }
  }
  .column-three-quarters {
    width: 69%;
  }
}

.error-summary {
  padding-bottom: 1em;
  ul {
    margin: 0;
  }
}

.quick-actions li {
  margin-bottom: 1em;
}

legend {
  margin-left: -10px;
}

.new-risks {
  .form-group {
    padding-bottom: 1em;
  }
}

.primary-nav {
  margin-top: 19px;
}

.summary-content {
  min-height: 200px;
  > div {
    min-height: 4em;
  }
}

#prisoner-information {
  .forenames {
    width: 60%;
  }
}

.multiples-container {
  select {
    width: 15%;
  }
}

.inner-row {
  .inner-col-one-third {
    width: 30%;
    margin-right: 1%;
    display: inline-block;
    *display: inline;
    zoom: 1;

  }

  .inner-col-two-thirds {
    width: 60%;
    margin-right: 1%;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }

  .inner-col-half {
    width: 48%;
    margin-right: 1%;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
}

.offences {

  select {
    display: inline;
    width: auto;
    float: left;
    margin-top: 0.5em;
  }

  input[type="text"] {
    display: inline;
    width: auto;
    float: left;
    margin-right: 2.5em;
  }

  .offences-block-label {
    padding: 0;
    position: relative;
    top: -1.5em;
    border: none !important;
    input[type="checkbox"] {
      top: 0;
      width: auto;
      height: auto;
    }
  }

  .offence-field-label {
    @include visually-hidden();
  }

  .offence-checkbox-label {
    @include visually-hidden();
  }

  .remove-link {
    position: relative;
    top: -0.8em;
    left: 0.5em;
  }
}

.medications {
  select {
    display: inline;
    width: auto;
    float: left;
    margin-top: 0.5em;
  }

  input[type="text"] {
    width: 80%;
  }

  .remove-link {
    position: relative;
    top: -0.5em;
    left: 0.5em;
  }

  .medication-field-label {
    @include visually-hidden();
  }

}