<div class="error-summary" role="group" aria-labelledby="error-summary" tabindex="-1">
  <div class="heading-medium error-summary-heading" id="error-summary">
    <%= flash_error %>
  </div>
  <ul class="error-summary-list">
    <%= links_to_errors %>
  </ul>
</div>
