<div class="confirmation-summary" role="group" aria-labelledby="confirmation-summary" tabindex="-1">
  <div class="heading-medium confirmation-summary-heading" id="confirmation-summary">
    <%= flash_succes %>
  </div>
</div>
